.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
    transition: 0.4s;
    }
  
    .cerrar{
      top: 10px;
      left: 80%;
    }
    
    .translate{
      transform: translateY(-140%);
    }
  
    .conten {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    #miFormulario {
      margin-bottom: 10px; /* Espacio adicional entre el formulario y la tabla */
    }