.section_t {
    position: relative;
  max-width: 900px;
  width: 100%;
  background: white;
  padding: 25px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  }

  .contenedor_img {
    text-align: center;
  }

  .image {
    display: inline-block;
    margin: 40px 40px;;
  }

  .image img {
    width: 200px;
    height: 200px;
  }

  .image-caption {
    text-align: center;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }